
@{
    ViewBag.Title = "UserPage";
}


<div class="container" id="menu">
    <div class="images">
        <a href="@Url.Action("Lifeindiffrentcountries", "")">
            <div class="img-wrap"><img src="~/Images/life.jpg" alt="reprezentacije" /></div>
            <div class="text-wrap">
                <h5>Life in different countreis</h5>
            </div>
        </a>
    </div>
    <div class="images">
        <a href="@Url.Action("Choosethebestaccomodation", "")">
            <div class="img-wrap"><img src="~/Images/accommodation.jpg" alt="Igrači" /></div>
            <div class="text-wrap"><h5>Choose the best accommodation</h5></div>
        </a>
    </div>
    <div class="images">
        <a href="@Url.Action("Enjoyyourtravel", "")">
            <div class="img-wrap"><img src="~/Images/transportation.jpg" alt="Utakmice" /></div>
            <div class="text-wrap"><h5>Enjoy your travel</h5></div>
        </a>
    </div>
</div>




