@{
    ViewBag.Title = "About";
}


<p>Business Trip Advisor application was made to improve communication among employees whoe are traveling for business.Employess can check information about city wher they traveled.They have option to leave their feedbacks about city, transportation,accomodation.They heave options to check other people feddbacks and leave their own.</p>
