@{
    ViewBag.Title = "Contact";
}

<h1>Džogerasi & ElNinjo-Team inc.</h1>
<address>
    <p>Bulevar Pavla Dakića 12<br />
    Beograd, Srbija <br />
    <abbr title="Phone">P:</abbr>
    +381647285332542
    </p>
</address>
<div><h4>Team members:</h4></div>
<p>
    <strong>Nikola Miković - programing</strong>-<a href="mailto:nmikoviv@yahoo.com">nmikoviv@yahoo.com</a><br />
    <strong>Branislav Milović - testing and reviewing</strong>-<a href="mailto:milovicb83@gmail.com">milovicb83@gmail.com</a><br />
    <strong>Nenad Radisavljević - web design</strong>-<a href="mailto:shone989@gmail.com">shone989@gmail.com</a><br />
    <strong>Mihailo Maksimović - marketing</strong>-<a href="mailto:maximus-el-ninhjo@gmail.com">maximus-el-ninhjo@gmail.com</a><br />
</p>
<address>
    <strong>Support:</strong>   <a href="mailto:dzogerasi@gmail.com">dzogerasi@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:maximumus-el-ninhjo@hotline.com">maximumus-el-ninhjo@hotline.com</a>
</address>